<form {{action "updateChampion" on="submit"}}>
  <h3>Update</h3>
  {{input value=champion.name}}
  {{input value=champion.role}}
  {{input value=champion.guide}}
  <button type="submit">Update</button>
</form>
