<h2>Champions</h2>
{{#link-to "index"}} Go home {{/link-to}}
{{#each model as |champion|}}
  <h3>{{Champion.name}}</h3>
  <ul>
    <li>{{Champion.role}}</li>
    <li>{{Champion.guide}}</li>
    </ul>
{{/each}}
